<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} -- IDAEA</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.webp">
    <link rel="stylesheet" id="pagestyle" href="static/style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="IDAEA homepage">
    <meta name="locale" content="en-us">
    <meta name="keywords" content="website tags">
    
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}">
    <meta property="og:site_name" content="IDAEA">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://idaea.example.org/{{ request.endpoint }}">
    <meta property="og:image" content="https://idaea.example.org/images/favicon.webp">
    <meta property="og:description" content="IDAEA Homepage">
  </head>
            
  <body>
    <nav>
      {% if current_user.type == "Parent" or current_user.type == "Teacher" %}
        <a href="/grades">Grades</a>
        <a href="/feedback">Feedback</a>
      {% endif %}
      <a href="/logout">Logout</a>
    <nav>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
