:root {
  --background: #ffffff;
  --background-2: #eaeaea;
  --main: #222233;
  --shadow: #00000055;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--main);
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: var(--main);
    --background-2: #44444f;
    --main: var(--background);
  }
}

#content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

#login-card {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--background);
  box-shadow: 5px 5px 10px 2px var(--shadow);
}

.login-input {
  min-width: 300px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: inset var(--shadow) 2px 2px 2px;
  background-color: var(--background-2);
}

.login-input#submit {
  box-shadow: inset var(--shadow) -2px -2px 5px 1px, var(--shadow) 1px 1px 3px; 
  cursor: pointer;
}

.login-input#submit:hover {
  filter: brightness(95%);
}

button {
  box-shadow: inset var(--shadow) -2px -2px 5px 1px, var(--shadow) 1px 1px 3px; 
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.login-label {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

nav {
  background-color: var(--background);
  box-shadow: var(--shadow) 0 0 30px;

  display: flex;
}

.island {
  flex: 1;
  justify-content: center;
  align-items: center;

  display: flex;
}

#form {
  display: flex;
  flex-direction: row;
  align-self: center;

  padding: 20px;
  width: 400px;

  box-shadow: var(--shadow) 5px 5px 40px;
  border-radius: 20px;
}

.tab {
  height: 100%;
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.tab#active {
  border: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
  box-shadow: var(--shadow) 2px 2px 20px;
}

#logout {
  right: 0;
  position: absolute;
  padding: 20px;
}

